doctype html
html
	head
		meta(charset= 'UTF-8')
		title="Aplikacja logowania"
	body
		h1= name
		form(action="/auth/google", method="GET") 
			p Login
			input(type="text", name= user, placeholder="wprowadź login")
			p Hasło
			input(type="text", name="password", placeholder= "wprowadź hasło")
			button(type="submit", value="Submit") Submit
		include ./footer.pug

//Element <form> posiada atrybuty takie jak action oraz method. 
//Atrybut action pozwala określić, gdzie wysłać dane z formularza 
//w momencie, gdy zostanie on zatwierdzony.

//a(href="/sign_up") Sign Up